@import "tailwindcss";

@theme {
    --color-my-pink-100: #EDCADE;
    --color-my-pink-200: #F3BFDD;
    --color-my-pink-300: #F878C2;

    --color-my-blue-100: #CFE3F2;
    --color-my-blue-200: #BFDDF3;
    --color-my-blue-300: #5EB0ED;
}